{% extends 'base.html.twig' %}

{% block title %}Liste des cinémas{% endblock %}

{% block body %}

<ul class="list-unstyled list-group col-3 ml-auto mr-auto mt-5">
    {% for cinema in cinemas %}
    <li class="text-center list-group-item p-3">
        <strong>{{cinema.name}}</strong>
        <br>{{cinema.description}}
    </li>
    {% endfor %}
</ul>
{% endblock %}
