
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between my-auto ">
    <h1 class="text-white">Cine Grade</h1>
    <div class="row">
        <a class="nav-link active text-white" href="#">Active link</a>
        <a class="nav-link text-white" href="#">Link</a>
        <a class="nav-link disabled text-white" href="#">Disabled link</a>
    </div>
</nav>